<% if @catalog.errors.any? %>
	<% @catalog.errors.full_messages.each do |message| %>
		<p><%= message %></p>
	<% end %>
<% end %>

<h3>Edit catalog: </h3>
<%= form_for @catalog, url: admin_catalog_path(@catalog) do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<%= f.submit %>
<% end %>