<%= stylesheet_link_tag 'texture' %>
<%= link_to "Home", "/store" %>
<%= link_to "Dashboard", admin_dashboard_path %><br>
<h1>Catalogs</h1>
<%= link_to "Create New Catalog", new_admin_catalog_path %>
<%= stylesheet_link_tag 'tags' %>
<ul>
<% @catalogs.each do |catalog| %>
	<li><%= catalog.name %> - <%= link_to "x", admin_catalog_path(catalog), :method => :delete %> - <%= link_to "edit", edit_admin_catalog_path(catalog) %></li>

<% end %>
</ul>