<%= stylesheet_link_tag "admin/songs" %>


<%= link_to "Home", "/store" %>
<%= link_to "Dashboard", admin_dashboard_path %>
<%= link_to "Back To Songs", admin_songs_path %>
<br><br>
<%= link_to "Edit", edit_admin_song_path(@song) %>
<div class="song-info">
Title: <%= @song.title %>
<div class="song__tag__group">
<p>Genres:</p> 
	<ul>
	<% @song.genres.each do |genre| %>
		<li><%= genre.name %></li>
	<% end %>
	</ul>
</div>


<div class="song__tag__group">
	<p>Tags:</p>
	<ul>
		<% @song.tags.each do |tag| %>
			<li><%= tag.name %></li>
		<% end %>
	</ul>
</div>

<% if @song.catalog %>
Catalog: <%= @song.catalog.name %>
<% end %>
</div>
<br>
<div class="song-info">
<h4>Lyrics: </h4>

<p id=lyrics data-id="<%= @song.id %>"></p>
</div>
<script
			  src="https://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous"></script>
<script>
var id = $('#lyrics').data("id");
$.get("/admin/songs/" + id + ".json")
	.then(function(response) {
		console.log("huh")
		$('#lyrics').append(response.lyrics)
	})
</script>

