<%= stylesheet_link_tag 'store' %>

<div id="filterrific_results">
	<div id="spacer">Showing All Results</div>
	<%= will_paginate songs, :class => "apple_pagination" %>
	<div class="numberlist">
		<ol id="song__list">
			<% songs.each do |song| %>
				<li class="listItem <%= song.title %>">
				<div class="button_experiment playButton" data-link="<%= asset_path(song.title) %>"></div> 
				<span class="title"><%= song.title %></span> - <span class="artist"><%= song.artist_name %></span>
				<%= link_to "License", song, :class => "license__link", :data => {:song_id => song.id, :user => user_signed_in? ? current_user.id : 'null' } %>
				<a href='<%= "#{song.album_cover.file_name}"%>' class="cover_art"><%= image_tag "#{song.album_cover.file_name}", :height => "17px", :class => "plus", :data => {:id => "#{song.id}"} %></a>

				<%= image_tag 'lyrics4.jpg', :height => "20px", :class => "plus lyrics", :data => {:id => "#{song.id}"}%>
				<div class="<%= current_user && current_user.favorites.include?(song) ? 'plus addme favorited': 'plus addme ' %>" data-song="<%= song.id %>" data-user="<%= user_signed_in? ? current_user.id : 'null' %>" ></div>
				</li>
			<hr>
			<% end %>
		</ol>
	</div>
</div>

<script>
 $('.addme').click(function(){

 	var songId = $(this).data("song")
 	var userId = $(this).data("user")

 	if (userId == null) {
 		alert("Sign in to select favorites")
 	} else {
	 	if (!$(this).hasClass("favorited")) {
	 		$(this).addClass("favorited")
	 	} else {
	 		$(this).removeClass("favorited")
	 	}
	 	var url = "/admin/songs/toggle_favorites/" + userId + "/" + songId
	 	$.get(url)
 	}
 })
</script>