<div id="filterrific_results">


<%= will_paginate songs, :class => "apple_pagination" %>
<div class="numberlist"
<ol>
<% songs.each do |song| %>
<li class="listItem <%= song.title %>"><%= link_to "License Song", song, :class => "license__link" %><span class="title"><%= song.title %></span> - <span class="artist"><%= song.artist_name %></span> 
	<div class="button_experiment playButton">

	</div>
	</li>
<% end %>
</ol>
</div>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.3.7/wavesurfer.min.js"></script>
<script>

</script>