<%= stylesheet_link_tag 'store' %>

<div id="filterrific_results">
<div id="spacer">Showing All Results</div>
	<%= will_paginate songs, :class => "apple_pagination" %>
<div class="numberlist">
	<ol id="song__list">
<% songs.each do |song| %>
<li class="listItem <%= song.title %>">
	<div class="button_experiment playButton">

	</div> 
<span class="title"><%= song.title %></span> - <span class="artist"><%= song.artist_name %></span>

<%= link_to "License", song, :class => "license__link" %>

<a href='<%= "#{song.album_cover.file_name}"%>' class="cover_art"><%= image_tag "#{song.album_cover.file_name}", :height => "17px", :class => "plus" %></a>
<%= image_tag 'add4.png', :height => "17px", :class => "plus" %>

	</li>
	<hr>
<% end %>
</ol>
	</div>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.3.7/wavesurfer.min.js"></script>