<div id="waveform"></div>
<ul>
<% @songs.each do |song| %>
<li class="listItem <%= song.title %>"><span class="title"><%= song.title %></span> - <span class="artist"><%= song.artist_name %></span> <%= image_tag("play.jpg", size: "10", class: "playButton") %></li>
<% end %>
</ul>

<audio preload="auto" id="player"></audio>

<div id="songView">
<h3>Now Playing:</h3> 
<p id="songPlaying">
</p>
<!-- <span><%= image_tag("play.jpg", size: "10", class: "playerButton") %></span>
 -->	
</div>



<script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.3.7/wavesurfer.min.js"></script>
<script>


$(function(){
var wavesurfer = WaveSurfer.create({
    container: '#waveform',
    waveColor: 'lightblue',
    progressColor: 'lightgray'
});


console.log(wavesurfer)
wavesurfer.on('ready', function(){
	wavesurfer.play();
})

	// var testElement = new Audio();
	// testElement.id = "player"
	// $('body').append(testElement)
	// console.log(testElement)
	var currentSong = ""
	var songPlayer = $('#player')[0]

	$('.playButton').on('click', function(e){
		var song = $(this).parent().find(".title").html();
		var artist = $(this).parent().find(".artist").html();
		$('#songPlaying').html("").append(song);

		var url = "assets/" + artist + " - " + song + ".mp3"
		wavesurfer.load(url)
		$('.playerButton').off();

		$('.playerButton').click(function(){
			if(!songPlayer.paused) {
				songPlayer.pause()
			} else {
				// songPlayer.play();
			}
		})

		if (url != currentSong) {
			songPlayer.src = url
			// songPlayer.play();

			currentSong = url;

		} else {
			if(!songPlayer.paused) {
				songPlayer.pause();
			} else {
				// songPlayer.play();
			}
		}
	})
})



</script>