<% if @flag == true %>
	<p class="flag" data-info="true"></p>
<% else %>
	<p class="flag" data-info="false"></p>
<% end %>

<% if !user_signed_in? %>
	<a href="#" id="sign_up">Sign Up</a>
	<a href="#" id="sign_in">Sign In</a>
<% else %>
	<span id="user_name">
		<%= current_user.email %><%= link_to "(logout)", destroy_user_session_path, :method => "delete" %>
	</span>
<% end %>
<div id="waveform"></div>
<%= will_paginate @songs, :class => "digg_pagination" %>

<ul>
<% @songs.each do |song| %>
<li class="listItem <%= song.title %>"><span class="title"><%= song.title %></span> - <span class="artist"><%= song.artist_name %></span> <%= image_tag("play.jpg", size: "10", class: "playButton") %><%= link_to "License Song", song, :class => "license__link" %></li>
<% end %>
</ul>

<audio preload="auto" id="player"></audio>

<div id="songView">
<h3>Now Playing:</h3> 
<p id="songPlaying">
</p>
<span><%= image_tag("play.jpg", size: "10", class: "playerButton") %></span>
	
</div>

<div id="overlay">
	<!-- licensing overlay -->
	<div id="licenseInfo">
	</div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.3.7/wavesurfer.min.js"></script>
<script>


$(function(){
var wavesurfer = WaveSurfer.create({
    container: '#waveform',
    waveColor: 'lightblue',
    progressColor: 'lightgray'
});
	var currentSong = ""
	var songPlayer = $('#player')[0]

	$('.playButton').on('click', function(e){
		var song = $(this).parent().find(".title").html();
		var artist = $(this).parent().find(".artist").html();
		$('#songPlaying').html("").append(song);
		var url = "assets/" + artist + " - " + song + ".mp3"
		$('.playerButton').off();

		$('.playerButton').click(function(){
			if(wavesurfer.isPlaying()) {
				wavesurfer.pause();
			} else {
				wavesurfer.play();
			}
		})

		if (url != currentSong) {

			songPlayer.src = url
			wavesurfer.load(url)
			wavesurfer.on('ready', function(){
				wavesurfer.play();
			})
			currentSong = url;

		} else {
			if(wavesurfer.isPlaying()) {
				wavesurfer.pause();
			} else {
				wavesurfer.play();
			}
		}
	})

	$('.license__link').click(function(e) {
		e.preventDefault();

		var url = e.target + ".json"
		$.get(url, function(data){
			var html = "<h1>Licensing info for " + data.title + "</h1>"

			$('#licenseInfo').html("").append(html)
			$('#overlay').show();
			$('#overlay').click(function(){
				$(this).hide();
			})
		})
	})

	$('#sign_up').click(function(e){
		e.preventDefault();
		$.get("/users/sign_up")
			.then(function(data) {
				$('#licenseInfo').html("").append(data);
				$('#overlay').show();
			})
	})

	$('#sign_in').click(function(e) {
		e.preventDefault();
		$.get("/users/sign_in")
			.then(function(data) {
				$('#licenseInfo').html("").append(data);
				$('#overlay').show();
			})
	})

	if ($('.flag').data("info") == true) {
		$.get("/users/sign_in")
			.then(function(data) {
				$('#licenseInfo').html("").append(data);
				$('#overlay').show();
			})
	}
})



</script>