<% if @flag == true %>
	<p class="flag" data-info="true"></p>
<% else %>
	<p class="flag" data-info="false"></p>
<% end %>

<% if !user_signed_in? %>
	<a href="#" id="sign_up">Sign Up</a>
	<a href="#" id="sign_in">Sign In</a>
<% else %>
	<span id="user_name">
		<%= current_user.email %><%= link_to "(logout)", destroy_user_session_path, :method => "delete" %>
	</span>
<% end %>


<!-- Beginning of filter form-->

<!--end of filter form -->



<%= form_for_filterrific @filterrific do |f| %>
  <div>
    Artist

     <!-- this is the problem i bet -->
<select id="artist__select" name="filterrific[with_artist_id]">
<%= options_from_collection_for_select(Artist.all, :id, :name, @songs.first.artist.id) %>
</select>

    <!-- -->
  </div>

  <div>
    <%= link_to(
      'Reset filters',
      reset_filterrific_url,
    ) %>
  </div>
  <%# add an automated spinner to your form when the list is refreshed %>

<% end %>

<!-- <form id="filterriffic_filter" class="new_filterrific" accept-charset="UTF-8" action="/store" method="get">
<label for="filterrific[with_artist_id]">Search By Tag:</label>
<select id="artist__select" name="filterrific[with_artist_id]">
<%= options_from_collection_for_select(Artist.all, :id, :name, @songs.first.artist.id) %>
</select>
</form> -->
<!-- <select id="artist__select" name="filterrific[with_artist_id">
<%= options_for_select Artist.all.collect{|mt| [mt.name, mt.id]}.insert(0, "") %>
</select> -->

<br>

<%= will_paginate @songs, :class => "digg_pagination" %>

<%= render(
  partial: 'stores/list',
  locals: { songs: @songs }) %>



<div id="songView">
<h3>Now Playing:</h3> 
<p id="songPlaying">
</p>
<span><%= image_tag("play.jpg", size: "10", class: "playerButton") %></span>
	
</div>
<audio preload="auto" id="player"></audio>
<div id="overlay">
	<!-- licensing overlay -->
	<div id="licenseInfo">
	</div>
</div>


<script>


$(function(){


	$('#sign_up').click(function(e){

		e.preventDefault();
		$.get("/users/sign_up")
			.then(function(data) {
				$('#licenseInfo').html("").append(data);
				$('#overlay').show();
			})
	})

	$('#sign_in').click(function(e) {
		e.preventDefault();
		$.get("/users/sign_in")
			.then(function(data) {
				$('#licenseInfo').html("").append(data);
				$('#overlay').show();
			})
	})

	if ($('.flag').data("info") == true) {
		$.get("/users/sign_in")
			.then(function(data) {
				$('#licenseInfo').html("").append(data);
				$('#overlay').show();
			})
	}

	$('#artist__select').on('change', function() {
		$("#filterriffic_filter").submit();
	})
	
})



</script>