<% if @flag == true %>
	<p class="flag" data-info="true"></p>
<% else %>
	<p class="flag" data-info="false"></p>
<% end %>

<% if !user_signed_in? %>
	<a href="#" id="sign_up">Sign Up</a>
	<a href="#" id="sign_in">Sign In</a>
<% else %>
	<span id="user_name">
		<%= link_to "Dashboard", admin_dashboard_path %>
		<%= current_user.email %><%= link_to "(logout)", destroy_user_session_path, :method => "delete" %>
	</span>
<% end %>


<!-- Beginning of filter form-->

<!--end of filter form -->



<%= form_for_filterrific @filterrific do |f| %>
  <div>
    Artist

     <!-- this is the problem i bet -->
<select id="artist__select" name="filterrific[with_artist_id]">

<%= options_for_select Artist.all.collect{|mt| [mt.name, mt.id]}.insert(0, "Any") %>
</select>


	Tags
<select id="tag__select" name="filterrific[with_any_tag_ids]">
<%= options_for_select Tag.all.collect{|mt| [mt.name, mt.id]}.insert(0, "Any") %>
</select>
</div>
    <!-- -->


  <div>
    <%= link_to(
      'Reset filters',
      reset_filterrific_url,
    ) %>
  </div>
  <%# add an automated spinner to your form when the list is refreshed %>
<div id="waveform"></div>
<% end %>

<!-- <form id="filterriffic_filter" class="new_filterrific" accept-charset="UTF-8" action="/store" method="get">
<label for="filterrific[with_artist_id]">Search By Tag:</label>
<select id="artist__select" name="filterrific[with_artist_id]">
<%= options_from_collection_for_select(Artist.all, :id, :name, @songs.first.artist.id) %>
</select>
</form> -->
<!-- <select id="artist__select" name="filterrific[with_artist_id">
<%= options_for_select Artist.all.collect{|mt| [mt.name, mt.id]}.insert(0, "") %>
</select> -->

<br>


<div id="something">
<%= render(
  partial: 'stores/list',
  locals: { songs: @songs }) %>
</div>


<div id="songView">
<h3>Now Playing:</h3> 
<p id="songPlaying">
</p>
<span><%= image_tag("play.jpg", size: "10", class: "playerButton") %></span>
	
</div>
<audio preload="auto" id="player"></audio>
<div id="overlay">
	<!-- licensing overlay -->
	<div id="licenseInfo">
	</div>
</div>


<script>


$(function(){
var wavesurfer = WaveSurfer.create({
    container: '#waveform',
    waveColor: 'black',
    progressColor: 'lightgray'
});

	var currentSong = ""

	// can these go in the index.html.erb script? but fire off when each ajax
	// call is made over in index.js.erb

	function addHandlers() {

		$('.playButton').on('click', function(e){

			var song = $(this).parent().find(".title").html();
			var artist = $(this).parent().find(".artist").html();
			var songPlayer = $('#player')[0]
			$('#songPlaying').html("").append(song);
			var url = "assets/" + artist + " - " + song + ".mp3"
			$('.playerButton').off();

			$('.playerButton').click(function(){
				if(wavesurfer.isPlaying()) {
					wavesurfer.pause();
				} else {
					wavesurfer.play();
				}
			})

			if (url != currentSong) {

				songPlayer.src = url
				wavesurfer.load(url)

				wavesurfer.on('ready', function(){
						wavesurfer.play();
				})
				currentSong = url;

			} else {
				if(wavesurfer.isPlaying()) {
					wavesurfer.pause();
				} else {
					wavesurfer.play();
				}
			}
		})


		$('.license__link').click(function(e) {
			e.preventDefault();

			var url = e.target + ".json"
			$.get(url, function(data){
				var html = "<h1>Licensing info for " + data.title + "</h1>"
				$('#licenseInfo').html("").append(html)
				$('#licenseInfo').append("<button id='huh'>Dismiss</button")
				$('#overlay').show();
				$('#huh').click(function(e){
					$('#overlay').hide();
				})

			})
		})

	}

	addHandlers();

	$('form').on("change", function(){
		setTimeout(addHandlers, 1000);
	})

	$('#sign_up').click(function(e){

		e.preventDefault();
		$.get("/users/sign_up")
			.then(function(data) {
				$('#licenseInfo').html("").append(data);
				$('#overlay').show();
			})
	})
	$('#sign_in').click(function(e) {
		e.preventDefault();
		$.get("/users/sign_in")
			.then(function(data) {
				$('#licenseInfo').html("").append(data);
				$('#overlay').show();
			})
	})

	if ($('.flag').data("info") == true) {
		$.get("/users/sign_in")
			.then(function(data) {
				$('#licenseInfo').html("").append(data);
				$('#overlay').show();
			})
	}	
})



</script>