<h1>Dashboard</h1>
<%= link_to "Edit Songs", admin_songs_path %><br>
<%= link_to "Manage Tags", admin_tags_path %></br>
<%= link_to "Manage Genres", admin_genres_path %></br>
<%= link_to "Manage Catalogs", admin_catalogs_path %></br>
<%= link_to "Manage Album Covers", admin_album_covers_path %></br>

