<% if @genre.errors.any? %>
	<% @genre.errors.full_messages.each do |message| %>
		<p><%= message %></p>
	<% end %>
<% end %>

<h3>New Genre: </h3>
<%= form_for @genre, url: admin_genres_path do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<%= f.submit %>
<% end %>