<%= stylesheet_link_tag 'texture' %>
<%= stylesheet_link_tag 'admin/album_covers' %>
<%= image_tag @cover.file_name, :height => "300px" %>

<%= form_for @cover, :url => "/admin/album_covers/#{@cover.id}", :method => :patch do |f| %>
	<div class="album-cover-select">
		<%= f.collection_check_boxes(:song_ids, Song.all, :id, :title) do |b| %>
			<%= b.label class:"label-checkbox" do%>
				<%=b.check_box + b.text%>
			<% end %>
		<% end %>
	</div>
	<%= f.submit %>
<% end %>

